@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@keyframes typing {
  from { width: 0 }
  to { width: 80% }
}
.input_contactus{
  width: 100%; /* Make the input field fill its container */
  padding:5%; /* Add padding for better appearance */
  border: .5px solid #ccc; /* Add border */
  border-radius: 15%; /* Add border radius for rounded corners */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}
.fadedown {
  opacity: 0;
  animation: fadedown .5s ease forwards; /* Animation after 4 seconds */
}
a{
  text-decoration: none;
}
.display{
  height: 9%;
  display:flex;
}

.no-display{
  width: 0;
  display: none;
  
}

label{
  font-size: 15px;
  font-weight: 500;
}

.loading-container {
  display: flex;
  flex-direction: row;
  width: auto;
}
textarea {
  width: 100%; /* Make the textarea fill its container */
  padding: 10px; /* Add padding for better appearance */
  border: 1px solid #ccc; /* Add border */
  border-radius: 4px; /* Add border radius for rounded corners */
  box-sizing: border-box;
  height: 150px; /* Ensure padding and border are included in the width */
}


.dot1, .dot2, .dot3 {
  width: 5px;
  height: 5px;
  background-color: #00356b;
  border-radius: 50%;
  margin: 0 3px;
  animation-delay: 2.5s;
  animation: dot-animation 1s infinite ease-in-out; /* Adjust duration and animation type */
}

.dot2 {
  animation-delay: 0.3s; /* Delay the animation for dot2 */
}

.dot3 {
  animation-delay: .6s; /* Delay the animation for dot3 */
}

@keyframes dot-animation {
  0%, 100% {
    transform: translateY(0); /* Initial and final position */
  }
  50% {
    transform: translateY(-5px); /* Peak position */
  }
}


.typing-animation {
  overflow: hidden;
  /* border-right: .1em solid black; Adjust the color and thickness as needed */
  white-space: nowrap;
  margin: 0 auto; /* Center the element */
  animation: typing 1.6s steps(10, end); /* Adjust the duration and timing function as needed */
}
.contentfade{
  opacity: 0;
}

.contentfadeanimation {
  opacity: 0;
  animation: fadeup 1s ease forwards;
  animation-delay: 4s;
 
  /* transform: translateY(70px);
  transition: opacity 1s, transform 1s; */
}

.sentenceanimation {
  /* font-size: 16px; Initial font size */
  color: black; /* Color of the text */
  /* position: relative; */
  animation: scaleSentence 1s  forwards ;
  animation-delay: 5s; /* Animation duration and repetition */
  
}

@keyframes fadeup {
  0% {
      opacity: 0; /* Initial opacity */
      transform: translateY(40px); /* Initial position */
  }
  100% {
      opacity: 1; /* Final opacity */
      transform: translateY(0); /* Final position */
  }
}


@keyframes fadedown {
  0% {
      opacity: 1; /* Initial opacity */
      /* transform: translateY(-40px); Initial position */
  }
  100%{
      opacity: 0;
      transform: translateY(30px); /* Final opacity */
  }
}

@keyframes scaleSentence {
  0% {
    transform: scale(1); /* Initial scale of the sentence */
  }
  100% {
    transform: scale(1.155); /* Final scale of the sentence */
  }
}



/* .line {
  width: 100%;
  height: 2px;
  background-color: blue;
  transform: scaleX(0);
  transition: transform 0.5s, background-color 0.5s;
} */

.contentfade.active {
  opacity: 1;
  transform: translateY(0px);
}


body {
  /* font-family: "Inter", sans-serif !important; */
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
}
.fs-18 {
  font-size: 18px;
}
.bg-light {
  background-color: #d9d9d9;
}
.ptb-120 {
  padding-top: 120px;
  padding-bottom: 120px;
}
.text-left {
  text-align: left;
}
.fs-16 {
  font-size: 16px;
}
.mt-10 {
  margin-top: 60px;
}
.fs-30 {
  font-size: 30px;
}
.empty-value {
  border: 1px solid red !important;
}
.fw-600 {
  font-weight: 600 !important;
}
.fw-100 {
  font-weight: 100;
}
.fs-15 {
  font-size: 15px;
}
.ptb-80 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.ptb-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.txt-gray {
  color: #848199;
}
.bg-gray {
  background-color: #5243c2;
}
.bg-blue,
.bg-blue:hover {
  background-color: #00356b;
  color: white;
}
.bg-white {
  background-color: white;
  color: #00356b;
}
.br-14 {
  border-radius: 14px;
}
.box-shadow {
  box-shadow: 0px 10px 20px gray;
}
.txt-blk {
  color: #1e1e1e;
}
.txt-blue {
  color: #00356b;
}
.fs-48 {
  font-size: 45px;
}
.fs-20 {
  font-size: 20px;
  font-weight: 300;
}
.fs-40 {
  font-size: 40px;
}
.fs-22 {
  font-size: 22px;
}
.fw-300 {
  font-weight: 300;
}
.lh-2 {
  line-height: 2.3;
}
.lh-22 {
  line-height: 2;
}
.bg-contain {
  background-size: 100% 100% !important;
}
.bg-cover {
  background-size: cover !important;
}
.h-390 {
  height: 550px;
}
.btn-dark-rounded {
  border-radius: 25px;
  width: 90%;
}
.w-90 {
  width: 90%;
}
.w-25 {
  width: 25%;
}
.text-right {
  text-align: right;
}
.w-lg-75 {
  width: 75%;
}
.w-lg-60 {
  width: 60%;
}
.w-lg-50 {
  width: 50%;
}
.w-400 {
  width: 500px;
}
.float-img {
  width: 55px;
  height: 55px;
  position: absolute;
  top: 50px;
}
.customPreviousBtn.disabled,
.customNextBtn.disabled {
  color: #c3bbda !important;
  cursor: default !important;
}
.bg-purple {
  background-color: #c3bbda;
  color: white;
}
.gradient-card {
  background: linear-gradient(45deg, #efeeff, white 34%, #e4efef 100%);
}
.gradient-card2 {
  background: linear-gradient(45deg, #e4efef, white 34%, #efeeff 100%);
}
.input {
  border-radius: 8px;
  border: 1px solid #c3bbda;
}
.semicircle {
  width: 294px; /* Adjust the width as needed */
  height: 147px; /* Adjust the height as needed */
  border-radius: 147px 147px 0 0; /* Create a semicircle by adjusting border-radius values */
  overflow: hidden; /* Hide the bottom half of the circle */
  text-align: center;
}
.num {
  position: relative;
  bottom: 30px;
}
.bg-green {
  background-color: #bbdac6;
}
.fs-42 {
  font-size: 42px;
}
.h-40 {
  height: 40px;
}
.subs-button {
  position: relative;
  left: -85px;
}
.h-320 {
  height: 320px;
}
.youtube {
  width: 126px;
  height: 126px;
  position: absolute;
  right: 300px;
}
.fs-60 {
  font-size: 57px;
}
.nav-link:hover {
  color: rgb(110, 235, 110);
}
.txt-white {
  color: white;
}
.num-heading {
  position: absolute;
  font-weight: 600;
  top: 16px;
  font-size: 50px;
}
.green {
  color: #1db901;
}
@media only screen and (max-width: 767px) {
  .fs-48,
  .fs-60 {
    font-size: 30px;
  }
  .h-320 {
    height: 100%;
  }
  .youtube {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 150px;
  }
  .w-400 {
    width: 300px;
  }
  .fs-42 {
    font-size: 30px;
  }
  .ptb-60 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .pt-60 {
    padding-top: 60px;
  }
  .pb-60 {
    padding-bottom: 60px;
  }
  .float-img {
    width: 55px;
    height: 55px;
    position: absolute;
    top: 50px;
    right: 10px;
  }
  .w-lg-50,
  .w-lg-75,
  .w-lg-90,
  .w-lg-60 {
    width: 100% !important;
  }
  .mt-10 {
    margin-top: 0px !important;
  }
}
.pr {
  position: relative;
  bottom: 68px;
}
@keyframes fallAnimation {
  0% {
    transform: translateY(-100%);
    filter: grayscale(100%); /* Apply grayscale to simulate disabled effect */
  }
  70% {
    transform: translateY(100%);
  }
  85% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
    filter: grayscale(0); /* Remove grayscale for normal appearance */
  }
}
.but-white:hover {
  color: #00356b !important;
  background-color: white;
}
.but-white {
  background-color: white;
  color: #00356b;
}
#falling-svg {
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  animation: fallAnimation 4s ease-in-out; /* Adjust animation duration and timing function */
}
.dr-shadow {
  filter: drop-shadow(0.5px 0.5px 0.5px #00000040);
}
.fs-14 {
  font-size: 14px;
}
.btn-w {
  width: 214px;
  height: 48px;
}
.pos-ab {
  position: absolute;
  bottom: 9px;
}
.h-48 {
  height: 48px;
}
.txt-green {
  color: #1aba00;
}
/* Hide increase/decrease arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}



         
.btn-dark-blue {
  background: #00356b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00356b, rgb(9, 17, 64));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #00356b, rgb(18, 23, 81)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  border: 0px solid #00356b;
  padding:10px 25px 10px 25px;
}

.btn-dark-blue:hover {
  color: white;
}

.btn-rounded {
  border-radius: 25px;
}

.blur-box {
  position: absolute;
  top: 80px !important;
  justify-content: center;
  display: inline-flex;
  flex-direction: row;
}

.center-box {
  justify-content: center;
}

.bg-shape1 {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  animation: ballOne 10s infinite;
  background-color: rgb(110, 235, 110);
}

.bg-shape2 {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  animation: ballTwo 10s infinite;
  background-color: rgb(91, 106, 236);
}

@keyframes ballOne {
  0%{left: 0px; top: 80px;}
  25%{left: 700px; top: 200px;}
  50%{left: 380px; top: 180px;}
  75%{left: 530px; top: 250px;}
  100%{left: 70px; top: 80px;}
}

/* @keyframes ballTwo {
  0%{left: calc(100vw-0px); top: 80px;}
  25%{left: calc(100vw - 480px); top: 150px;}
  50%{left: calc(100vw - 380px); top: 250px;}
  75%{left: calc(100vw - 400px); top: 300px;}
  100%{left: calc(100vw - 10px); top: 80px;}
} */

/* @keyframes ballTwo {
  0%{right: 0px; top: 80px;}
  25%{right: 0px; top: 180px;}
  50%{right: 0px; top: 280px;}
  75%{right: 0px; top: 380px;}
  100%{right: 0px; top: 480px;}
} */

.bg-blur {
  filter: blur(150px);
  opacity: 0.5;
}

.text-style-gradient {
  background: linear-gradient(to right, #615eff, #ff6a4d);
  background: #00356b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #615eff, #ff6a4d);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #615eff, #ff6a4d);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.smartle-bot{
  border-radius: 40px;

}


.iphone-x {
  position: relative;
  margin: 40px auto;
  width: 360px;
  height: 680px;
  background-color: white;
  background-image: linear-gradient(60deg, white 1%,white 100%);
  border-radius: 40px;
  box-shadow: 0px 0px 0px 11px #1f1f1f, 0px 0px 0px 13px #191919, 0px 0px 0px 20px #111;
  
  &:before,
  &:after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  &:after {
    bottom: 7px;
    width: 140px;
    height: 4px;
    background-color: #f2f2f2;
    border-radius: 10px;
  }
  
  &:before {
    top: 0px;
    width: 56%;
    height: 30px;
    background-color: #1f1f1f;
    border-radius: 0px 0px 40px 40px;
  }
  
  i,
  b,
  s,
  span {
    position: absolute;
    display: block;
    color: transparent;
  }
  
  i {
    top: 0px;
    left: 50%;
    transform: translate(-50%, 6px);
    height: 8px;
    width: 15%;
    background-color: #101010;
    border-radius: 8px;
    box-shadow: inset 0px -3px 3px 0px rgba(256, 256, 256, 0.2);
  }
  
  b {
    left: 10%;
    top: 0px;
    transform: translate(180px, 4px);
    width: 12px;
    height: 12px;
    background-color: #101010;
    border-radius: 12px;
    box-shadow: inset 0px -3px 2px 0px rgba(256, 256, 256, 0.2);
    
    &:after {
      content: '';
      position: absolute;
      background-color: #2d4d76;
      width: 6px;
      height: 6px;
      top: 2px;
      left: 2px;
      top: 3px;
      left: 3px;
      display: block;
      border-radius: 4px;
      box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.5);
    }
  }
  
  s {
    top: 50px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    width: 100%;
    font-size: 70px;
    font-weight: 100;
    padding-top: 60px;
  }
  
  span {
    bottom: 50px;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    left: 30px;
    
    & + span {
      left: auto;
      right: 30px;
    }
  }
}


.device-iphone-14-pro {
  height: 868px;
  width: 428px;
  position: relative;

  margin: 40px auto;

}
.device-iphone-14-pro .device-frame {
  background: #010101;
  border: 1px solid #1b1721;
  border-radius: 68px;
  box-shadow: inset 0 0 4px 2px #c0b7cd, inset 0 0 0 6px #342c3f;
  height: 868px;
  padding: 19px;
  width: 428px;
}
.device-iphone-14-pro .device-screen {
  border-radius: 49px;
  height: 830px;
  width: 390px;
}
.device-iphone-14-pro .device-stripe::after, .device-iphone-14-pro .device-stripe::before {
  border: solid rgba(1, 1, 1, .25);
  border-width: 0 7px;
  content: "";
  height: 7px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 9;
}
.device-iphone-14-pro .device-stripe::after {
  top: 85px;
}
.device-iphone-14-pro .device-stripe::before {
  bottom: 85px;
}
.device-iphone-14-pro .device-header {
  background: #010101;
  border-radius: 20px;
  height: 35px;
  left: 50%;
  margin-left: -60px;
  position: absolute;
  top: 29px;
  width: 120px;
}
.device-iphone-14-pro .device-sensors::after, .device-iphone-14-pro .device-sensors::before {
  content: "";
  position: absolute;
}
.device-iphone-14-pro .device-sensors::after {
  background: #010101;
  border-radius: 17px;
  height: 33px;
  left: 50%;
  margin-left: -60px;
  top: 30px;
  width: 74px;
}
.device-iphone-14-pro .device-sensors::before {
  background: radial-gradient(farthest-corner at 20% 20%, #6074bf 0, transparent 40%), radial-gradient(farthest-corner at 80% 80%, #513785 0, #24555e 20%, transparent 50%);
  border-radius: 50%;
  height: 9px;
  left: 50%;
  margin-left: 36px;
  top: 42px;
  width: 9px;
}
.device-iphone-14-pro .device-btns {
  background: #1b1721;
  border-radius: 2px;
  height: 32px;
  left: -2px;
  position: absolute;
  top: 115px;
  width: 3px;
}
.device-iphone-14-pro .device-btns::after, .device-iphone-14-pro .device-btns::before {
  background: #1b1721;
  border-radius: 2px;
  content: "";
  height: 62px;
  left: 0;
  position: absolute;
  width: 3px;
}
.device-iphone-14-pro .device-btns::after {
  top: 60px;
}
.device-iphone-14-pro .device-btns::before {
  top: 140px;
}
.device-iphone-14-pro .device-power {
  background: #1b1721;
  border-radius: 2px;
  height: 100px;
  right: -2px;
  position: absolute;
  top: 200px;
  width: 3px;
}
.device-iphone-14-pro .device-home::after, .device-iphone-14-pro .device-home::before {
  border: solid rgba(1, 1, 1, .25);
  border-width: 6px 0;
  content: "";
  height: 6px;
  position: absolute;
  width: 6px;
  z-index: 9;
}
.device-iphone-14-pro .device-home::after {
  right: 86px;
  top: 0;
}
.device-iphone-14-pro .device-home::before {
  bottom: 0;
  left: 86px;
}
.device-iphone-14-pro.device-silver .device-frame {
  border-color: #c8cacb;
  box-shadow: inset 0 0 4px 2px #fff, inset 0 0 0 6px #e2e3e4;
}
.device-iphone-14-pro.device-silver .device-btns {
  background: #c8cacb;
}
.device-iphone-14-pro.device-silver .device-btns::after, .device-iphone-14-pro.device-silver .device-btns::before {
  background: #c8cacb;
}
.device-iphone-14-pro.device-silver .device-power {
  background: #c8cacb;
}
.device-iphone-14-pro.device-black .device-frame {
  border-color: #5c5956;
  box-shadow: inset 0 0 4px 2px #fff, inset 0 0 0 6px #76726f;
}
.device-iphone-14-pro.device-black .device-btns {
  background: #5c5956;
}
.device-iphone-14-pro.device-black .device-btns::after, .device-iphone-14-pro.device-black .device-btns::before {
  background: #5c5956;
}
.device-iphone-14-pro.device-black .device-power {
  background: #5c5956;
}
.device-iphone-14-pro.device-gold .device-frame {
  border-color: #e7d19e;
  box-shadow: inset 0 0 4px 2px #fff, inset 0 0 0 6px #d2ab4c;
}
.device-iphone-14-pro.device-gold .device-btns {
  background: #e7d19e;
}
.device-iphone-14-pro.device-gold .device-btns::after, .device-iphone-14-pro.device-gold .device-btns::before {
  background: #e7d19e;
}
.device-iphone-14-pro.device-gold .device-power {
  background: #e7d19e;
}


.st-emotion-cache-1dp5vir {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 0.125rem;
  /* background-image: linear-gradient(90deg, rgb(255, 75, 75), rgb(255, 253, 128)); */
  z-index: 999990;
}





.animated-card {
transition: transform 0.3s, box-shadow 0.3s;
cursor: pointer;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
border-radius: 12px;
}

.animated-card:hover {
transform: scale(1.05);
box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.first-card {
background:#EDF3FF;       /*Added card color*/
}

.second-card {
background: #FFF4FB;       /*Added card color*/
}

.third-card {
background: #FFFBF0      /*Added card color*/
}

.percentage {
font-size: 36px;
color:  #00356B; 
margin-bottom: 10px;
font-weight: bold;
}


/* percetage increment style */

.percentage {
  transition: all 0.5s ease;
}

.card-text {
font-size: 18px;
color: black; 
}
.custom-card {
margin-bottom: 20px;
}

/* .flex-row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px; 
}

.col-lg-4,
.col-md-12 {
  flex: 1 0 auto;
  max-width: 100%;
}

.custom-card {
  flex: 1;
}

.col-custom-2 {
  flex: 2;
}

.col-custom-1 {
  flex: 1;
}

.image-container {
  width: 100%;
  height: 100%;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 960px) {
  .flex-row {
      flex-direction: column;
  }

  .col-lg-4,
  .col-md-12 {
      flex: 1 0 100%;
      max-width: 100%;
  }

  .flex-row .custom-card {
      height: 150px; 
  }

  .flex-row .custom-card:first-child {
      order: 1;
      height: 200px;
  }

  .flex-row .custom-card:nth-child(2),
  .flex-row .custom-card:nth-child(3) {
      order: 2;
      flex: 0 0 48%;
      max-width: 48%;
  }

  .flex-row .custom-card:last-child {
      order: 3;
      flex: 1 0 100%;
      max-width: 100%;
  }

  
  .flex-row .col-custom-1 {
      flex: 1 0 100%;
      max-width: 100%;
  }

 
  .flex-row .col-custom-2 {
      flex: 1 0 50%;
      max-width: 50%;
  }
} */
.equal-height-row {
  display: flex;
  flex-wrap: wrap;
}

.equal-height-row .card {
  display: flex;
  flex-direction: column;
}

.equal-height-row .card-body {
  padding: 0;
  flex-grow: 1;
}

/* Hide the main content by default */
.responsive-content {
  display: none;
}

/* Show the main content for screens wider than 961px */
@media (min-width: 961px) {
  .desktop-content {
      display: block;
  }
  .responsive-content {
      display: none;
  }

}

/* Show the responsive content for screens narrower than 961px */
@media (max-width: 960px) {
  .responsive-content {
      display: block;
  }
  .desktop-content {
      display: none;
  }
}


