@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
body {
  font-family: "Inter", sans-serif !important;
}
.fs-18 {
  font-size: 18px;
}
.bg-light {
  background-color: #d9d9d9;
}
.ptb-120 {
  padding-top: 120px;
  padding-bottom: 120px;
}
.text-left {
  text-align: left;
}
.fs-16 {
  font-size: 16px;
}
.mt-10 {
  margin-top: 60px;
}
.fs-30 {
  font-size: 30px;
}
.empty-value {
  border: 1px solid red !important;
}
.fw-600 {
  font-weight: 600 !important;
}
.fw-100 {
  font-weight: 100;
}
.fs-15 {
  font-size: 15px;
}
.ptb-80 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.ptb-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.txt-gray {
  color: #848199;
}
.bg-gray {
  background-color: #5243c2;
}
.bg-blue,
.bg-blue:hover {
  background-color: #00356b;
  color: white;
}
.bg-white {
  background-color: white;
  color: #00356b;
}
.br-14 {
  border-radius: 14px;
}
.box-shadow {
  box-shadow: 0px 10px 20px gray;
}
.txt-blk {
  color: #1e1e1e;
}
.txt-blue {
  color: #00356b;
}
.fs-48 {
  font-size: 45px;
}
.fs-20 {
  font-size: 20px;
  font-weight: 300;
}
.fs-40 {
  font-size: 40px;
}
.fs-22 {
  font-size: 22px;
}
.fw-300 {
  font-weight: 300;
}
.lh-2 {
  line-height: 2.3;
}
.lh-22 {
  line-height: 2;
}
.bg-contain {
  background-size: 100% 100% !important;
}
.bg-cover {
  background-size: cover !important;
}
.h-390 {
  height: 550px;
}
.btn-dark-rounded {
  border-radius: 25px;
  width: 90%;
}
.w-90 {
  width: 90%;
}
.w-25 {
  width: 25%;
}
.text-right {
  text-align: right;
}
.w-lg-75 {
  width: 75%;
}
.w-lg-60 {
  width: 60%;
}
.w-lg-50 {
  width: 50%;
}
.w-400 {
  width: 500px;
}
.float-img {
  width: 55px;
  height: 55px;
  position: absolute;
  top: 50px;
}
.customPreviousBtn.disabled,
.customNextBtn.disabled {
  color: #c3bbda !important;
  cursor: default !important;
}
.bg-purple {
  background-color: #c3bbda;
  color: white;
}
.gradient-card {
  background: linear-gradient(45deg, #efeeff, white 34%, #e4efef 100%);
}
.gradient-card2 {
  background: linear-gradient(45deg, #e4efef, white 34%, #efeeff 100%);
}
.input {
  border-radius: 8px;
  border: 1px solid #c3bbda;
}
.semicircle {
  width: 294px; /* Adjust the width as needed */
  height: 147px; /* Adjust the height as needed */
  border-radius: 147px 147px 0 0; /* Create a semicircle by adjusting border-radius values */
  overflow: hidden; /* Hide the bottom half of the circle */
  text-align: center;
}
.num {
  position: relative;
  bottom: 30px;
}
.bg-green {
  background-color: #bbdac6;
}
.fs-42 {
  font-size: 42px;
}
.h-40 {
  height: 40px;
}
.subs-button {
  position: relative;
  left: -85px;
}
.h-320 {
  height: 320px;
}
.youtube {
  width: 126px;
  height: 126px;
  position: absolute;
  right: 300px;
}
.fs-60 {
  font-size: 57px;
}
.nav-link:hover {
  color: #1db901;
}
.txt-white {
  color: white;
}
.num-heading {
  position: absolute;
  font-weight: 600;
  top: 16px;
  font-size: 50px;
}
.green {
  color: #1db901;
}
@media only screen and (max-width: 767px) {
  .fs-48,
  .fs-60 {
    font-size: 30px;
  }
  .h-320 {
    height: 100%;
  }
  .youtube {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 150px;
  }
  .w-400 {
    width: 300px;
  }
  .fs-42 {
    font-size: 30px;
  }
  .ptb-60 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .pt-60 {
    padding-top: 60px;
  }
  .pb-60 {
    padding-bottom: 60px;
  }
  .float-img {
    width: 55px;
    height: 55px;
    position: absolute;
    top: 50px;
    right: 10px;
  }
  .w-lg-50,
  .w-lg-75,
  .w-lg-90,
  .w-lg-60 {
    width: 100% !important;
  }
  .mt-10 {
    margin-top: 0px !important;
  }
}
.pr {
  position: relative;
  bottom: 68px;
}
@keyframes fallAnimation {
  0% {
    transform: translateY(-100%);
    filter: grayscale(100%); /* Apply grayscale to simulate disabled effect */
  }
  70% {
    transform: translateY(100%);
  }
  85% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
    filter: grayscale(0); /* Remove grayscale for normal appearance */
  }
}
.but-white:hover {
  color: #00356b !important;
  background-color: white;
}
.but-white {
  background-color: white;
  color: #00356b;
}
#falling-svg {
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  animation: fallAnimation 4s ease-in-out; /* Adjust animation duration and timing function */
}
.dr-shadow {
  filter: drop-shadow(0.5px 0.5px 0.5px #00000040);
}
.fs-14 {
  font-size: 14px;
}
.btn-w {
  width: 214px;
  height: 48px;
}
.pos-ab {
  position: absolute;
  bottom: 9px;
}
.h-48 {
  height: 48px;
}
.txt-green {
  color: #1aba00;
}
/* Hide increase/decrease arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
