@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
input{
  width: 100%; /* Make the input field fill its container */
  padding: 6px; /* Add padding for better appearance */
  border: .5px solid #ccc; /* Add border */
  border-radius: 15%; /* Add border radius for rounded corners */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}

label{
  font-size: 15px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
textarea {
  width: 100%; /* Make the textarea fill its container */
  padding: 10px; /* Add padding for better appearance */
  border: 1px solid #ccc; /* Add border */
  border-radius: 4px; /* Add border radius for rounded corners */
  box-sizing: border-box;
  height: 150px; /* Ensure padding and border are included in the width */
}


.dot1, .dot2, .dot3 {
  width: 5px;
  height: 5px;
  background-color: #00356b;
  border-radius: 50%;
  margin: 0 3px;
  animation-delay: 2.5s;
  animation: dot-animation 1s infinite ease-in-out; /* Adjust duration and animation type */
}

.dot2 {
  animation-delay: 0.3s; /* Delay the animation for dot2 */
}

.dot3 {
  animation-delay: .6s; /* Delay the animation for dot3 */
}

@keyframes dot-animation {
  0%, 100% {
    transform: translateY(0); /* Initial and final position */
  }
  50% {
    transform: translateY(-5px); /* Peak position */
  }
}


.typing-animation {
  overflow: hidden;
  /* border-right: .1em solid black; Adjust the color and thickness as needed */
  white-space: nowrap;
  margin: 0 auto; /* Center the element */
  animation: typing 2s steps(15, end); /* Adjust the duration and timing function as needed */
}

.contentfade {
  opacity: 0;
  animation: fadeup 1s ease forwards;
  animation-delay: 3.5s;
/*  
  transform: translateY(70px);
  transition: opacity 1s, transform 1s; */
}

.sentence {
  font-size: 16px; /* Initial font size */
  color: black; /* Color of the text */
  /* position: relative; */
 
  animation: scaleSentence 1s  forwards ;
  animation-delay: 4.5s; /* Animation duration and repetition */
}

@keyframes fadeup {
  0% {
      opacity: 0; /* Initial opacity */
      transform: translateY(40px); /* Initial position */
  }
  100% {
      opacity: 1; /* Final opacity */
      transform: translateY(0); /* Final position */
  }
}

@keyframes scaleSentence {
  0% {
    transform: scale(1); /* Initial scale of the sentence */
  }
  100% {
    transform: scale(1.155); /* Final scale of the sentence */
  }
}



/* .line {
  width: 100%;
  height: 2px;
  background-color: blue;
  transform: scaleX(0);
  transition: transform 0.5s, background-color 0.5s;
} */

.contentfade.active {
  opacity: 1;
  transform: translateY(0px);
}

.contentfade.active .line {
  transform: scaleX(1.4);
  background-color: orange;
}


body {
  font-family: "Inter", sans-serif !important;
}
.fs-18 {
  font-size: 18px;
}
.bg-light {
  background-color: #d9d9d9;
}
.ptb-120 {
  padding-top: 120px;
  padding-bottom: 120px;
}
.text-left {
  text-align: left;
}
.fs-16 {
  font-size: 16px;
}
.mt-10 {
  margin-top: 60px;
}
.fs-30 {
  font-size: 30px;
}
.empty-value {
  border: 1px solid red !important;
}
.fw-600 {
  font-weight: 600 !important;
}
.fw-100 {
  font-weight: 100;
}
.fs-15 {
  font-size: 15px;
}
.ptb-80 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.ptb-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.txt-gray {
  color: #848199;
}
.bg-gray {
  background-color: #5243c2;
}
.bg-blue,
.bg-blue:hover {
  background-color: #00356b;
  color: white;
}
.bg-white {
  background-color: white;
  color: #00356b;
}
.br-14 {
  border-radius: 14px;
}
.box-shadow {
  box-shadow: 0px 10px 20px gray;
}
.txt-blk {
  color: #1e1e1e;
}
.txt-blue {
  color: #00356b;
}
.fs-48 {
  font-size: 45px;
}
.fs-20 {
  font-size: 20px;
  font-weight: 300;
}
.fs-40 {
  font-size: 40px;
}
.fs-22 {
  font-size: 22px;
}
.fw-300 {
  font-weight: 300;
}
.lh-2 {
  line-height: 2.3;
}
.lh-22 {
  line-height: 2;
}
.bg-contain {
  background-size: 100% 100% !important;
}
.bg-cover {
  background-size: cover !important;
}
.h-390 {
  height: 550px;
}
.btn-dark-rounded {
  border-radius: 25px;
  width: 90%;
}
.w-90 {
  width: 90%;
}
.w-25 {
  width: 25%;
}
.text-right {
  text-align: right;
}
.w-lg-75 {
  width: 75%;
}
.w-lg-60 {
  width: 60%;
}
.w-lg-50 {
  width: 50%;
}
.w-400 {
  width: 500px;
}
.float-img {
  width: 55px;
  height: 55px;
  position: absolute;
  top: 50px;
}
.customPreviousBtn.disabled,
.customNextBtn.disabled {
  color: #c3bbda !important;
  cursor: default !important;
}
.bg-purple {
  background-color: #c3bbda;
  color: white;
}
.gradient-card {
  background: linear-gradient(45deg, #efeeff, white 34%, #e4efef 100%);
}
.gradient-card2 {
  background: linear-gradient(45deg, #e4efef, white 34%, #efeeff 100%);
}
.input {
  border-radius: 8px;
  border: 1px solid #c3bbda;
}
.semicircle {
  width: 294px; /* Adjust the width as needed */
  height: 147px; /* Adjust the height as needed */
  border-radius: 147px 147px 0 0; /* Create a semicircle by adjusting border-radius values */
  overflow: hidden; /* Hide the bottom half of the circle */
  text-align: center;
}
.num {
  position: relative;
  bottom: 30px;
}
.bg-green {
  background-color: #bbdac6;
}
.fs-42 {
  font-size: 42px;
}
.h-40 {
  height: 40px;
}
.subs-button {
  position: relative;
  left: -85px;
}
.h-320 {
  height: 320px;
}
.youtube {
  width: 126px;
  height: 126px;
  position: absolute;
  right: 300px;
}
.fs-60 {
  font-size: 57px;
}
.nav-link:hover {
  color: #1db901;
}
.txt-white {
  color: white;
}
.num-heading {
  position: absolute;
  font-weight: 600;
  top: 16px;
  font-size: 50px;
}
.green {
  color: #1db901;
}
@media only screen and (max-width: 767px) {
  .fs-48,
  .fs-60 {
    font-size: 30px;
  }
  .h-320 {
    height: 100%;
  }
  .youtube {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 150px;
  }
  .w-400 {
    width: 300px;
  }
  .fs-42 {
    font-size: 30px;
  }
  .ptb-60 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .pt-60 {
    padding-top: 60px;
  }
  .pb-60 {
    padding-bottom: 60px;
  }
  .float-img {
    width: 55px;
    height: 55px;
    position: absolute;
    top: 50px;
    right: 10px;
  }
  .w-lg-50,
  .w-lg-75,
  .w-lg-90,
  .w-lg-60 {
    width: 100% !important;
  }
  .mt-10 {
    margin-top: 0px !important;
  }
}
.pr {
  position: relative;
  bottom: 68px;
}
@keyframes fallAnimation {
  0% {
    transform: translateY(-100%);
    filter: grayscale(100%); /* Apply grayscale to simulate disabled effect */
  }
  70% {
    transform: translateY(100%);
  }
  85% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
    filter: grayscale(0); /* Remove grayscale for normal appearance */
  }
}
.but-white:hover {
  color: #00356b !important;
  background-color: white;
}
.but-white {
  background-color: white;
  color: #00356b;
}
#falling-svg {
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  animation: fallAnimation 4s ease-in-out; /* Adjust animation duration and timing function */
}
.dr-shadow {
  filter: drop-shadow(0.5px 0.5px 0.5px #00000040);
}
.fs-14 {
  font-size: 14px;
}
.btn-w {
  width: 214px;
  height: 48px;
}
.pos-ab {
  position: absolute;
  bottom: 9px;
}
.h-48 {
  height: 48px;
}
.txt-green {
  color: #1aba00;
}
/* Hide increase/decrease arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

         
.btn-dark-blue {
  background: #00356b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #00356b,#00356b,#348AC7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #348AC7, #00356b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  border: 0px solid #00356b;
  padding:10px 25px 10px 25px;
}

.btn-rounded {
  border-radius: 20px;
}

.blur-box {
  position: absolute;
  top: 50px !important;
  justify-content: center;
  display: inline-flex;
  flex-direction: row;
}

.center-box {
  justify-content: center;
}

.bg-shape1 {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  animation: ballOne 10s infinite;
  background-color: rgb(110, 235, 110);
}

.bg-shape2 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  animation: ballTwo 10s infinite;
  background-color: rgb(91, 106, 236);
}

@keyframes ballOne {
  0%{left: 0px; top: 0px;}
  25%{left: 700px; top: 70px;}
  50%{left: 380px; top: 180px;}
  75%{left: 530px; top: 50px;}
  100%{left: 70px; top: 0px;}
}

@keyframes ballTwo {
  0%{left: 50px; top: 0px;}
  25%{left: 300px; top: 70px;}
  50%{left: 690px; top: 150px;}
  75%{left: 500px; top: 50px;}
  100%{left: 380px; top: 90px;}
}

.bg-blur {
  filter: blur(120px);
  opacity: 0.3;
}

