@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@keyframes typing {
  from { width: 0 }
  to { width: 80% }
}
.input_contactus{
  width: 100%; /* Make the input field fill its container */
  padding:5%; /* Add padding for better appearance */
  border: .5px solid #ccc; /* Add border */
  border-radius: 15%; /* Add border radius for rounded corners */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}
.fadedown {
  opacity: 0;
  animation: fadedown .5s ease forwards; /* Animation after 4 seconds */
}

.display{
  height: 9%;
  display:flex;
}

.no-display{
  width: 0;
  display: none;
  
}

label{
  font-size: 15px;
  font-weight: 500;
}

.loading-container {
  display: flex;
  flex-direction: row;
  width: auto;
}
textarea {
  width: 100%; /* Make the textarea fill its container */
  padding: 10px; /* Add padding for better appearance */
  border: 1px solid #ccc; /* Add border */
  border-radius: 4px; /* Add border radius for rounded corners */
  box-sizing: border-box;
  height: 150px; /* Ensure padding and border are included in the width */
}


.dot1, .dot2, .dot3 {
  width: 5px;
  height: 5px;
  background-color: #00356b;
  border-radius: 50%;
  margin: 0 3px;
  animation-delay: 2.5s;
  animation: dot-animation 1s infinite ease-in-out; /* Adjust duration and animation type */
}

.dot2 {
  animation-delay: 0.3s; /* Delay the animation for dot2 */
}

.dot3 {
  animation-delay: .6s; /* Delay the animation for dot3 */
}

@keyframes dot-animation {
  0%, 100% {
    transform: translateY(0); /* Initial and final position */
  }
  50% {
    transform: translateY(-5px); /* Peak position */
  }
}


.typing-animation {
  overflow: hidden;
  /* border-right: .1em solid black; Adjust the color and thickness as needed */
  white-space: nowrap;
  margin: 0 auto; /* Center the element */
  animation: typing 1.6s steps(10, end); /* Adjust the duration and timing function as needed */
}
.contentfade{
  opacity: 0;
}

.contentfadeanimation {
  opacity: 0;
  animation: fadeup 1s ease forwards;
  animation-delay: 4s;
 
  /* transform: translateY(70px);
  transition: opacity 1s, transform 1s; */
}

.sentenceanimation {
  /* font-size: 16px; Initial font size */
  color: black; /* Color of the text */
  /* position: relative; */
  animation: scaleSentence 1s  forwards ;
  animation-delay: 5s; /* Animation duration and repetition */
  
}

@keyframes fadeup {
  0% {
      opacity: 0; /* Initial opacity */
      transform: translateY(40px); /* Initial position */
  }
  100% {
      opacity: 1; /* Final opacity */
      transform: translateY(0); /* Final position */
  }
}


@keyframes fadedown {
  0% {
      opacity: 1; /* Initial opacity */
      /* transform: translateY(-40px); Initial position */
  }
  100%{
      opacity: 0;
      transform: translateY(30px); /* Final opacity */
  }
}

@keyframes scaleSentence {
  0% {
    transform: scale(1); /* Initial scale of the sentence */
  }
  100% {
    transform: scale(1.155); /* Final scale of the sentence */
  }
}



/* .line {
  width: 100%;
  height: 2px;
  background-color: blue;
  transform: scaleX(0);
  transition: transform 0.5s, background-color 0.5s;
} */

.contentfade.active {
  opacity: 1;
  transform: translateY(0px);
}


body {
  /* font-family: "Inter", sans-serif !important; */
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
}
.fs-18 {
  font-size: 18px;
}
.bg-light {
  background-color: #d9d9d9;
}
.ptb-120 {
  padding-top: 120px;
  padding-bottom: 120px;
}
.text-left {
  text-align: left;
}
.fs-16 {
  font-size: 16px;
}
.mt-10 {
  margin-top: 60px;
}
.fs-30 {
  font-size: 30px;
}
.empty-value {
  border: 1px solid red !important;
}
.fw-600 {
  font-weight: 600 !important;
}
.fw-100 {
  font-weight: 100;
}
.fs-15 {
  font-size: 15px;
}
.ptb-80 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.ptb-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}
.txt-gray {
  color: #848199;
}
.bg-gray {
  background-color: #5243c2;
}
.bg-blue,
.bg-blue:hover {
  background-color: #00356b;
  color: white;
}
.bg-white {
  background-color: white;
  color: #00356b;
}
.br-14 {
  border-radius: 14px;
}
.box-shadow {
  box-shadow: 0px 10px 20px gray;
}
.txt-blk {
  color: #1e1e1e;
}
.txt-blue {
  color: #00356b;
}
.fs-48 {
  font-size: 45px;
}
.fs-20 {
  font-size: 20px;
  font-weight: 300;
}
.fs-40 {
  font-size: 40px;
}
.fs-22 {
  font-size: 22px;
}
.fw-300 {
  font-weight: 300;
}
.lh-2 {
  line-height: 2.3;
}
.lh-22 {
  line-height: 2;
}
.bg-contain {
  background-size: 100% 100% !important;
}
.bg-cover {
  background-size: cover !important;
}
.h-390 {
  height: 550px;
}
.btn-dark-rounded {
  border-radius: 25px;
  width: 90%;
}
.w-90 {
  width: 90%;
}
.w-25 {
  width: 25%;
}
.text-right {
  text-align: right;
}
.w-lg-75 {
  width: 75%;
}
.w-lg-60 {
  width: 60%;
}
.w-lg-50 {
  width: 50%;
}
.w-400 {
  width: 500px;
}
.float-img {
  width: 55px;
  height: 55px;
  position: absolute;
  top: 50px;
}
.customPreviousBtn.disabled,
.customNextBtn.disabled {
  color: #c3bbda !important;
  cursor: default !important;
}
.bg-purple {
  background-color: #c3bbda;
  color: white;
}
.gradient-card {
  background: linear-gradient(45deg, #efeeff, white 34%, #e4efef 100%);
}
.gradient-card2 {
  background: linear-gradient(45deg, #e4efef, white 34%, #efeeff 100%);
}
.input {
  border-radius: 8px;
  border: 1px solid #c3bbda;
}
.semicircle {
  width: 294px; /* Adjust the width as needed */
  height: 147px; /* Adjust the height as needed */
  border-radius: 147px 147px 0 0; /* Create a semicircle by adjusting border-radius values */
  overflow: hidden; /* Hide the bottom half of the circle */
  text-align: center;
}
.num {
  position: relative;
  bottom: 30px;
}
.bg-green {
  background-color: #bbdac6;
}
.fs-42 {
  font-size: 42px;
}
.h-40 {
  height: 40px;
}
.subs-button {
  position: relative;
  left: -85px;
}
.h-320 {
  height: 320px;
}
.youtube {
  width: 126px;
  height: 126px;
  position: absolute;
  right: 300px;
}
.fs-60 {
  font-size: 57px;
}
.nav-link:hover {
  color: rgb(110, 235, 110);
}
.txt-white {
  color: white;
}
.num-heading {
  position: absolute;
  font-weight: 600;
  top: 16px;
  font-size: 50px;
}
.green {
  color: #1db901;
}
@media only screen and (max-width: 767px) {
  .fs-48,
  .fs-60 {
    font-size: 30px;
  }
  .h-320 {
    height: 100%;
  }
  .youtube {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 150px;
  }
  .w-400 {
    width: 300px;
  }
  .fs-42 {
    font-size: 30px;
  }
  .ptb-60 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .pt-60 {
    padding-top: 60px;
  }
  .pb-60 {
    padding-bottom: 60px;
  }
  .float-img {
    width: 55px;
    height: 55px;
    position: absolute;
    top: 50px;
    right: 10px;
  }
  .w-lg-50,
  .w-lg-75,
  .w-lg-90,
  .w-lg-60 {
    width: 100% !important;
  }
  .mt-10 {
    margin-top: 0px !important;
  }
}
.pr {
  position: relative;
  bottom: 68px;
}
@keyframes fallAnimation {
  0% {
    transform: translateY(-100%);
    filter: grayscale(100%); /* Apply grayscale to simulate disabled effect */
  }
  70% {
    transform: translateY(100%);
  }
  85% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
    filter: grayscale(0); /* Remove grayscale for normal appearance */
  }
}
.but-white:hover {
  color: #00356b !important;
  background-color: white;
}
.but-white {
  background-color: white;
  color: #00356b;
}
#falling-svg {
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  animation: fallAnimation 4s ease-in-out; /* Adjust animation duration and timing function */
}
.dr-shadow {
  filter: drop-shadow(0.5px 0.5px 0.5px #00000040);
}
.fs-14 {
  font-size: 14px;
}
.btn-w {
  width: 214px;
  height: 48px;
}
.pos-ab {
  position: absolute;
  bottom: 9px;
}
.h-48 {
  height: 48px;
}
.txt-green {
  color: #1aba00;
}
/* Hide increase/decrease arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}



         
.btn-dark-blue {
  background: #00356b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00356b, rgb(9, 17, 64));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #00356b, rgb(18, 23, 81)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  border: 0px solid #00356b;
  padding:10px 25px 10px 25px;
}

.btn-dark-blue:hover {
  color: white;
}

.btn-rounded {
  border-radius: 25px;
}

.blur-box {
  position: absolute;
  top: 80px !important;
  justify-content: center;
  display: inline-flex;
  flex-direction: row;
}

.center-box {
  justify-content: center;
}

.bg-shape1 {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  animation: ballOne 10s infinite;
  background-color: rgb(110, 235, 110);
}

.bg-shape2 {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  animation: ballTwo 10s infinite;
  background-color: rgb(91, 106, 236);
}

@keyframes ballOne {
  0%{left: 0px; top: 80px;}
  25%{left: 700px; top: 200px;}
  50%{left: 380px; top: 180px;}
  75%{left: 530px; top: 250px;}
  100%{left: 70px; top: 80px;}
}

/* @keyframes ballTwo {
  0%{left: calc(100vw-0px); top: 80px;}
  25%{left: calc(100vw - 480px); top: 150px;}
  50%{left: calc(100vw - 380px); top: 250px;}
  75%{left: calc(100vw - 400px); top: 300px;}
  100%{left: calc(100vw - 10px); top: 80px;}
} */

/* @keyframes ballTwo {
  0%{right: 0px; top: 80px;}
  25%{right: 0px; top: 180px;}
  50%{right: 0px; top: 280px;}
  75%{right: 0px; top: 380px;}
  100%{right: 0px; top: 480px;}
} */

.bg-blur {
  filter: blur(150px);
  opacity: 0.5;
}

.text-style-gradient {
  background: linear-gradient(to right, #615eff, #ff6a4d);
  background: #00356b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #615eff, #ff6a4d);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #615eff, #ff6a4d);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.smartle-bot{
  border-radius: 50px;

}


.iphone-x {
  position: relative;
  margin: 40px auto;
  width: 310px;
  height: 630px;
  /* background-color: white; */
  background: #010101;
  border: 1px solid #1b1721;
  border-radius: 68px;
  box-shadow: inset 0 0 4px 2px #c0b7cd, inset 0 0 0 6px #342c3f;
  background-image: linear-gradient(60deg, white 1%,white 100%);
  border-radius: 40px;
  /* box-shadow: 0px 0px 0px 10px #1f1f1f, 0px 0px 0px 11px #191919, 0px 0px 0px 12px #111;
  box-shadow: inset 0 0 4px 2px #c0b7cd, inset 0 0 0 6px #342c3f; */
  &:before,
  &:after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 4%;
    border: solid rgba(1, 1, 1, .25);
  }
  
  &:after {
    bottom: 7px;
    width: 130px;
    height: 4px;
    background: #010101;
    border-radius: 10px;
   margin-top: 4%;
   border: solid rgba(1, 1, 1, .25);
  }
  
  &:before {
    top: 0px;
    width: 30%;
    height: 23px;
    background-color: #1f1f1f;
    border-radius: 40px 40px 40px 40px;
    border: solid rgba(1, 1, 1, .25);
  }
  
  i,
  b,
  s,
  span {
    position: absolute;
    display: block;
    color: transparent;
  }
  
  i {
    top: 1.2%;
    left: 50%;
    transform: translate(-50%, 6px);
    height: 8px;
    width: 15%;
    background-color: #101010;
    border-radius: 8px;
    box-shadow: inset 0px -3px 3px 0px rgba(256, 256, 256, 0.2);
  }
  
  b {
    left: 5.2%;
    top: 1%;
    transform: translate(180px, 4px);
    width: 12px;
    height: 12px;
    background-color: #101010;
    border-radius: 12px;
    box-shadow: inset 0px -3px 2px 0px rgba(256, 256, 256, 0.2);
    
    &:after {
      content: '';
      position: absolute;
      background-color: #2d4d76;
      width: 6px;
      height: 6px;
      top: 2px;
      left: 2px;
      top: 3px;
      left: 3px;
      display: block;
      border-radius: 4px;
      box-shadow: inset 0px -2px 2px rgba(0, 0, 0, 0.5);
    }
  }
  
  s {
    top: 50px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    width: 100%;
    font-size: 70px;
    font-weight: 100;
    padding-top: 60px;
  }
  
  span {
    bottom: 50px;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    left: 30px;
    
    & + span {
      left: auto;
      right: 30px;
    }
  }
}

/* Button container */
.buttons-container {
  position: absolute;
  top: 40%;
  left: -16%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

/* Individual buttons */
.button {
  width: 80px;
  height: 10px;
  background-color:#1f1f1f;
  border-radius: 10%;
  transform: rotate(90deg);
  margin-bottom: 100%; /* Adjust spacing between buttons */
}
.buttonsmall {
  width: 26px;
  height: 11px;
  background-color:#1f1f1f;
  border-radius: 15%;
  transform: rotate(90deg);
  margin-bottom: 100%;
  position: absolute;
  top: -38%; 
  left: 35%;/* Adjust spacing between buttons */
}



.device-iphone-14-pro {
  height: 730px;
  width: 350px;
  position: relative;
  margin: 30px auto;

}
.device-iphone-14-pro .device-frame {
  background: #000000;
  border: 1px solid #f5f5f5;
  border-radius: 60px;
  box-shadow: inset 0 0 4px 2px #c0b7cd, inset 0 0 0 6px #342c3f;
  height: 730px;
  padding: 13px;
  width: 350px;
}
.device-iphone-14-pro .device-screen {
  border-radius: 40px;
  height: 700px;
  width: 350px;
}
.device-iphone-14-pro .device-stripe::after, .device-iphone-14-pro .device-stripe::before {
  border: solid rgba(184, 22, 22, 0.25);
  border-width: 0 2px;
  content: "";
  height: 7px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 9;
}
.device-iphone-14-pro .device-stripe::after {
  top: 85px;
}
.device-iphone-14-pro .device-stripe::before {
  bottom: 85px;
}
.device-iphone-14-pro .device-header {
  background: #010101;
  border-radius: 20px;
  height: 25px;
  left: 50%;
  margin-left: -60px;
  position: absolute;
  top: 29px;
  width: 100px;
}
/* .device-iphone-14-pro .device-sensors::after, .device-iphone-14-pro .device-sensors::before {
  content: "";
  position: absolute;
}
.device-iphone-14-pro .device-sensors::after {
  background: #010101;
  border-radius: 17px;
  height: 33px;
  left: 50%;
  margin-left: -60px;
  top: 30px;
  width: 74px;
}
.device-iphone-14-pro .device-sensors::before {
  background: radial-gradient(farthest-corner at 20% 20%, #6074bf 0, transparent 40%), radial-gradient(farthest-corner at 80% 80%, #513785 0, #24555e 20%, transparent 50%);
  border-radius: 50%;
  height: 9px;
  left: 50%;
  margin-left: 36px;
  top: 42px;
  width: 9px;
} */
.device-iphone-14-pro .device-btns {
  background: #1b1721;
  border-radius: 2px;
  height: 32px;
  left: -2px;
  position: absolute;
  top: 115px;
  width: 3px;
}
.device-iphone-14-pro .device-btns::after, .device-iphone-14-pro .device-btns::before {
  background: #1b1721;
  border-radius: 2px;
  content: "";
  height: 62px;
  left: 0;
  position: absolute;
  width: 3px;
}
.device-iphone-14-pro .device-btns::after {
  top: 60px;
}
.device-iphone-14-pro .device-btns::before {
  top: 140px;
}
.device-iphone-14-pro .device-power {
  background: #1b1721;
  border-radius: 2px;
  height: 100px;
  right: -2px;
  position: absolute;
  top: 200px;
  width: 3px;
}
.device-iphone-14-pro .device-home::after, .device-iphone-14-pro .device-home::before {
  border: solid rgba(1, 1, 1, .25);
  border-width: 6px 0;
  content: "";
  height: 6px;
  position: absolute;
  width: 6px;
  z-index: 9;
}
.device-iphone-14-pro .device-home::after {
  right: 86px;
  top: 0;
}
.device-iphone-14-pro .device-home::before {
  bottom: 0;
  left: 86px;
}
.device-iphone-14-pro.device-silver .device-frame {
  border-color: #c8cacb;
  box-shadow: inset 0 0 4px 2px #fff, inset 0 0 0 6px #e2e3e4;
}
.device-iphone-14-pro.device-silver .device-btns {
  background: #c8cacb;
}
.device-iphone-14-pro.device-silver .device-btns::after, .device-iphone-14-pro.device-silver .device-btns::before {
  background: #c8cacb;
}
.device-iphone-14-pro.device-silver .device-power {
  background: #c8cacb;
}
.device-iphone-14-pro.device-black .device-frame {
  border-color: #5c5956;
  box-shadow: inset 0 0 4px 2px #fff, inset 0 0 0 6px #76726f;
}
.device-iphone-14-pro.device-black .device-btns {
  background: #5c5956;
}
.device-iphone-14-pro.device-black .device-btns::after, .device-iphone-14-pro.device-black .device-btns::before {
  background: #5c5956;
}
.device-iphone-14-pro.device-black .device-power {
  background: #5c5956;
}
.device-iphone-14-pro.device-gold .device-frame {
  border-color: #e7d19e;
  box-shadow: inset 0 0 4px 2px #fff, inset 0 0 0 6px #d2ab4c;
}
.device-iphone-14-pro.device-gold .device-btns {
  background: #e7d19e;
}
.device-iphone-14-pro.device-gold .device-btns::after, .device-iphone-14-pro.device-gold .device-btns::before {
  background: #e7d19e;
}
.device-iphone-14-pro.device-gold .device-power {
  background: #e7d19e;
}


.st-emotion-cache-1dp5vir {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 0.125rem;
  /* background-image: linear-gradient(90deg, rgb(255, 75, 75), rgb(255, 253, 128)); */
  z-index: 999990;
}
.scrollable-container {
  overflow: auto; /* This will add scrollbars when content overflows */
  border: 1px solid #ccc; /* Just for demonstration */
}

/* Customize the scrollbar */
/* For Firefox */
.scrollable-container::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}
.scrollable-container::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
}
.scrollable-container::-webkit-scrollbar-thumb {
  background: #888; /* Thumb color */
}
/* For Chrome, Edge, and Safari */
.scrollable-container::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}
.scrollable-container::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
}
.scrollable-container::-webkit-scrollbar-thumb {
  background: #888; /* Thumb color */
}
.mobile-view-font{
  font-size: .95rem;
}


/* iphone css */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
:root {
  --size: max(2px, 1.1vmin);
  /* --height: 80em; */
  --pad: 9px;
  --border-radius: 45px;
  --gutter: calc(var(--pad) * 2);
  --scene-pad: 5vmin;
  --bg-blur: 0.333em;
  --button-width: 0.333em;
  --notch-height: 3.33em;
  --notch-width: 33.3%;
  --notch-radius: calc(var(--border-radius) - calc(var(--pad) * 2));
  --notch-duration: 0.333s;
  --ease: cubic-bezier(.666, 0, .4, 1);
  --ease-spring: cubic-bezier(.666, 0, .4, 1.2);
  --ease-out: cubic-bezier(.15,0,.333,1);
  --border-width: 0.4em;
  --deep-purple: 284;
  --gold: 22.5;
  --space-black: 215;
  --silver: 254;
  --c-h: var(--deep-purple);
  --c-s: 100%;
  --c-l: 50%;
}

@-webkit-keyframes appear {
  to {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@keyframes appear {
  to {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
.scene {
  display: flex;
  flex-wrap: wrap;
  gap: 3em 0;
  align-items: center;
  align-content: center;
  justify-content: center;
  /* min-height: 100vh; */
  font-family: Inter;
  font-size: var(--size);
  padding: var(--scene-pad);
  box-sizing: border-box;
}

.phone-con {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}

.phone {
  position: relative;
  z-index: 1;
  aspect-ratio: 37/76;
  background: rgb(255, 255, 255);
  height: var(--height);
  border-radius: var(--border-radius);
  box-shadow: 0 0 0.3em 0.45em hsl(var(--c-h), 20%, 25%), 0 0 0 var(--border-width) hsl(var(--c-h), 30%, 85%);
  box-sizing: border-box;
  opacity: 0;
  transform: scale3d(1.1, 1.1, 1);
  -webkit-animation: appear 1s var(--ease-out) forwards;
          animation: appear 1s var(--ease-out) forwards;
  webkit-backface-visibility: hidden;
}
.phone:before {
  content: "";
  position: absolute;
  /* top: var(--border-radius);
  right: calc(var(--border-width) * -1);
  bottom: var(--border-radius);
  left: calc(var(--border-width) * -1); */
  /* border: 0.5em solid hsl(var(--c-h), 20%, 30%); */
  border-left-width: 0;
  border-right-width: 0;
}

.buttons {
  position: absolute;
  inset: calc(var(--border-width) * -1);
  pointer-events: none;
}
.buttons .left,
.buttons .right {
  position: absolute;
  width: var(--button-width);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1.5em;
}
.buttons .left {
  right: 100%;
  top: calc(var(--border-radius) * 2);
}
.buttons .left .button:nth-child(1) {
  height: 3em;
  margin-bottom: 0.5em;
}
.buttons .right {
  left: 100%;
  transform: scale3d(-1, 1, 1);
  top: calc(var(--border-radius) * 3);
}
.buttons .right .button {
  height: 9.5em;
}
.buttons .button {
  background: hsl(var(--c-h), 20%, 95%);
  height: 6em;
  box-shadow: inset -0.15em 0 0.1em black, inset 0 0 0.1em hsl(var(--c-h), 30%, 90%), inset 0 0.2em 0.1em hsl(var(--c-h), 30%, 90%), inset 0 -0.2em 0.1em hsl(var(--c-h), 30%, 90%), inset -0.1em 0.333em 0.1em rgba(0, 0, 0, 0.5), inset -0.1em -0.333em 0.1em rgba(0, 0, 0, 0.5);
  border-top-left-radius: 0.2em;
  border-bottom-left-radius: 0.2em;
}

.screen-container {
  position: absolute;
  inset: 0;
  border-radius: var(--border-radius);
  border: var(--pad) solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--pad) * 2);
}
.screen-container:before {
  content: "";
  position: absolute;
  z-index: 2;
  background: white;
  width: 36.6%;
  bottom: calc(var(--pad) * 0.75);
  height: calc(var(--pad) * 0.5);
  border-radius: calc(var(--pad) * 0.25);
  filter: drop-shadow(0 0.1em 0.25em rgba(0, 0, 0, 0.1));
}

.bg {
  position: absolute;
  inset: 0;
  background: black;
  border-radius: calc(var(--border-radius) - var(--pad));
  overflow: hidden;
  transform: translateZ(0);
}
.bg > * {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 1s var(--ease-out) 0.5s;
  background: black;
}
.bg .section {
  --g-h: var(--c-h);
  --g-s: var(--c-s);
  --g-l: var(--c-l);
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  border-radius: calc(var(--border-radius) - var(--pad));
  border-bottom-left-radius: 20em;
  border-bottom-right-radius: 20em;
}
.bg .section:before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: radial-gradient(120% 110% at 50% 92.5%, hsla(0deg, 0%, 0%, 1) 33.3%, hsla(0deg, 0%, 0%, 0.738) 45.973%, hsla(0deg, 0%, 0%, 0.541) 55.978%, hsla(0deg, 0%, 0%, 0.382) 64.649%, hsla(0deg, 0%, 0%, 0.278) 70.9855%, hsla(0deg, 0%, 0%, 0.194) 76.655%, hsla(0deg, 0%, 0%, 0.126) 81.991%, hsla(0deg, 0%, 0%, 0.075) 86.7934%, hsla(0deg, 0%, 0%, 0.042) 90.7287%, hsla(0deg, 0%, 0%, 0.021) 93.997%, hsla(0deg, 0%, 0%, 0.008) 96.7984%, hsla(0deg, 0%, 0%, 0.002) 98.7994%, hsla(0deg, 0%, 0%, 0) 100%), radial-gradient(100% 66.6% at 110% var(--g-hue-adjust-2-y, 100%), hsla(calc(var(--g-h) - var(--g-hue-adjust-2, var(--g-hue-adjust))), 100%, 50%, 1) 33.3%, hsla(calc(var(--g-h) - var(--g-hue-adjust-2, var(--g-hue-adjust))), 100%, 50%, 0.738) 45.973%, hsla(calc(var(--g-h) - var(--g-hue-adjust-2, var(--g-hue-adjust))), 100%, 50%, 0.541) 55.978%, hsla(calc(var(--g-h) - var(--g-hue-adjust-2, var(--g-hue-adjust))), 100%, 50%, 0.382) 64.649%, hsla(calc(var(--g-h) - var(--g-hue-adjust-2, var(--g-hue-adjust))), 100%, 50%, 0.278) 70.9855%, hsla(calc(var(--g-h) - var(--g-hue-adjust-2, var(--g-hue-adjust))), 100%, 50%, 0.194) 76.655%, hsla(calc(var(--g-h) - var(--g-hue-adjust-2, var(--g-hue-adjust))), 100%, 50%, 0.126) 81.991%, hsla(calc(var(--g-h) - var(--g-hue-adjust-2, var(--g-hue-adjust))), 100%, 50%, 0.075) 86.7934%, hsla(calc(var(--g-h) - var(--g-hue-adjust-2, var(--g-hue-adjust))), 100%, 50%, 0.042) 90.7287%, hsla(calc(var(--g-h) - var(--g-hue-adjust-2, var(--g-hue-adjust))), 100%, 50%, 0.021) 93.997%, hsla(calc(var(--g-h) - var(--g-hue-adjust-2, var(--g-hue-adjust))), 100%, 50%, 0.008) 96.7984%, hsla(calc(var(--g-h) - var(--g-hue-adjust-2, var(--g-hue-adjust))), 100%, 50%, 0.002) 98.7994%, hsla(calc(var(--g-h) - var(--g-hue-adjust-2, var(--g-hue-adjust))), 100%, 50%, 0) 100%), radial-gradient(100% 66.6% at -10% var(--g-hue-adjust-2-y, 100%), hsla(calc(var(--g-h) - var(--g-hue-adjust-2, var(--g-hue-adjust))), 100%, 50%, 1) 33.3%, hsla(calc(var(--g-h) - var(--g-hue-adjust-2, var(--g-hue-adjust))), 100%, 50%, 0.738) 45.973%, hsla(calc(var(--g-h) - var(--g-hue-adjust-2, var(--g-hue-adjust))), 100%, 50%, 0.541) 55.978%, hsla(calc(var(--g-h) - var(--g-hue-adjust-2, var(--g-hue-adjust))), 100%, 50%, 0.382) 64.649%, hsla(calc(var(--g-h) - var(--g-hue-adjust-2, var(--g-hue-adjust))), 100%, 50%, 0.278) 70.9855%, hsla(calc(var(--g-h) - var(--g-hue-adjust-2, var(--g-hue-adjust))), 100%, 50%, 0.194) 76.655%, hsla(calc(var(--g-h) - var(--g-hue-adjust-2, var(--g-hue-adjust))), 100%, 50%, 0.126) 81.991%, hsla(calc(var(--g-h) - var(--g-hue-adjust-2, var(--g-hue-adjust))), 100%, 50%, 0.075) 86.7934%, hsla(calc(var(--g-h) - var(--g-hue-adjust-2, var(--g-hue-adjust))), 100%, 50%, 0.042) 90.7287%, hsla(calc(var(--g-h) - var(--g-hue-adjust-2, var(--g-hue-adjust))), 100%, 50%, 0.021) 93.997%, hsla(calc(var(--g-h) - var(--g-hue-adjust-2, var(--g-hue-adjust))), 100%, 50%, 0.008) 96.7984%, hsla(calc(var(--g-h) - var(--g-hue-adjust-2, var(--g-hue-adjust))), 100%, 50%, 0.002) 98.7994%, hsla(calc(var(--g-h) - var(--g-hue-adjust-2, var(--g-hue-adjust))), 100%, 50%, 0) 100%), radial-gradient(150% 100% at 50% 80%, hsla(calc(var(--g-h) + 33.3), 100%, var(--g-lightness, 82.5%), 0) 35%, hsla(calc(var(--g-h) + 33.3), 100%, var(--g-lightness, 82.5%), 0.262) 47.35%, hsla(calc(var(--g-h) + 33.3), 100%, var(--g-lightness, 82.5%), 0.459) 57.1%, hsla(calc(var(--g-h) + 33.3), 100%, var(--g-lightness, 82.5%), 0.618) 65.55%, hsla(calc(var(--g-h) + 33.3), 100%, var(--g-lightness, 82.5%), 0.722) 71.725%, hsla(calc(var(--g-h) + 33.3), 100%, var(--g-lightness, 82.5%), 0.806) 77.25%, hsla(calc(var(--g-h) + 33.3), 100%, var(--g-lightness, 82.5%), 0.874) 82.45%, hsla(calc(var(--g-h) + 33.3), 100%, var(--g-lightness, 82.5%), 0.925) 87.13%, hsla(calc(var(--g-h) + 33.3), 100%, var(--g-lightness, 82.5%), 0.958) 90.965%, hsla(calc(var(--g-h) + 33.3), 100%, var(--g-lightness, 82.5%), 0.979) 94.15%, hsla(calc(var(--g-h) + 33.3), 100%, var(--g-lightness, 82.5%), 0.992) 96.88%, hsla(calc(var(--g-h) + 33.3), 100%, var(--g-lightness, 82.5%), 0.998) 98.83%, hsla(calc(var(--g-h) + 33.3), 100%, var(--g-lightness, 82.5%), 1) 100%);
  background-color: hsl(var(--g-h), var(--g-s), var(--g-l));
  transform: scale3d(1.1, 1.25, 1);
  transform-origin: bottom;
  transition: transform 1s var(--ease-out) 0.5s;
}
.bg .section:after {
  content: "";
  position: absolute;
  inset: 0;
  border: var(--border-width) solid rgba(255, 255, 255, 0.8);
  border-radius: inherit;
  filter: blur(0.05em);
  -webkit-mask-image: radial-gradient(100% 100% at 50% 70%, black 30%, transparent 50%);
          mask-image: radial-gradient(100% 100% at 50% 70%, black 30%, transparent 50%);
  transform: translatez(2px);
}
.bg .section .glow {
  position: absolute;
  inset: 0;
  border-radius: inherit;
  mix-blend-mode: overlay;
  z-index: 1;
  background: radial-gradient(80% 150% at 50% 100%, hsl(var(--g-h), 100%, var(--g-l)), transparent 70%);
}
.bg .section:last-of-type {
  --g-h: calc(var(--c-h) - var(--g-hue-adjust, 0));
  --g-l: calc(var(--c-l) + 40%);
  --g-lightness: 95%;
  transform: scale3d(1, -1, 1) translateZ(1px);
}

.notch-container {
  position: absolute;
  z-index: 3;
  top: var(--pad);
  right: var(--pad);
  left: var(--pad);
  display: flex;
  justify-content: center;
  height: 100%;
  max-height: calc(var(--notch-radius) * 2);
  pointer-events: none;
  outline: none;
  transition: var(--notch-duration) var(--ease);
  transition-property: max-height, max-width, filter, transform;
  will-change: max-width, max-height, filter;
}
.is-resizing .notch-container, .is-resizing .notch-container * {
  transition: none;
}
.notch-container:hover, .notch-container:focus-within {
  --shadow-opacity: 0.5;
  transition-timing-function: var(--ease-spring);
}
.notch-container:hover .content, .notch-container:focus-within .content {
  --content-padding: 2em;
}
.notch-container:hover .content .text, .notch-container:focus-within .content .text {
  opacity: 1;
}
.notch-container:hover .notch, .notch-container:focus-within .notch {
  max-width: 100%;
  max-height: 100%;
  pointer-events: all;
  transform: scale3d(1, 1, 1);
}
.notch-container:hover ~ .notch-blur, .notch-container:focus-within ~ .notch-blur {
  opacity: 1;
  max-height: calc(var(--notch-radius) * 3.333 + var(--pad));
}
.notch-container:focus-within {
  max-height: calc(var(--notch-radius) * 3);
  --bar-height: 1em;
  --bar-opacity: 1;
}
.notch-container:focus-within .left,
.notch-container:focus-within .right {
  max-height: calc(100% - var(--bar-height, 0%) - var(--content-gap));
}
.notch-container:focus-within ~ .notch-blur {
  max-height: calc(var(--notch-radius) * 5);
  opacity: 1;
}

.notch-blur {
  position: absolute;
  z-index: 2;
  top: calc(var(--pad) - 3px);
  right: calc(var(--pad) - 3px);
  left: calc(var(--pad) - 3px);
  height: 100%;
  max-height: calc(var(--notch-radius) * 1.5);
  -webkit-backdrop-filter: blur(0.2em);
          backdrop-filter: blur(0.2em);
  -webkit-mask-image: linear-gradient(to bottom, hsla(0deg, 0%, 0%, 1) 60%, hsla(0deg, 0%, 0%, 0.738) 67.6%, hsla(0deg, 0%, 0%, 0.541) 73.6%, hsla(0deg, 0%, 0%, 0.382) 78.8%, hsla(0deg, 0%, 0%, 0.278) 82.6%, hsla(0deg, 0%, 0%, 0.194) 86%, hsla(0deg, 0%, 0%, 0.126) 89.2%, hsla(0deg, 0%, 0%, 0.075) 92.08%, hsla(0deg, 0%, 0%, 0.042) 94.44%, hsla(0deg, 0%, 0%, 0.021) 96.4%, hsla(0deg, 0%, 0%, 0.008) 98.08%, hsla(0deg, 0%, 0%, 0.002) 99.28%, hsla(0deg, 0%, 0%, 0) 100%);
          mask-image: linear-gradient(to bottom, hsla(0deg, 0%, 0%, 1) 60%, hsla(0deg, 0%, 0%, 0.738) 67.6%, hsla(0deg, 0%, 0%, 0.541) 73.6%, hsla(0deg, 0%, 0%, 0.382) 78.8%, hsla(0deg, 0%, 0%, 0.278) 82.6%, hsla(0deg, 0%, 0%, 0.194) 86%, hsla(0deg, 0%, 0%, 0.126) 89.2%, hsla(0deg, 0%, 0%, 0.075) 92.08%, hsla(0deg, 0%, 0%, 0.042) 94.44%, hsla(0deg, 0%, 0%, 0.021) 96.4%, hsla(0deg, 0%, 0%, 0.008) 98.08%, hsla(0deg, 0%, 0%, 0.002) 99.28%, hsla(0deg, 0%, 0%, 0) 100%);
  opacity: 0;
  border-radius: calc(var(--border-radius) - var(--pad));
  transition: var(--notch-duration) var(--ease);
  transition-property: max-height, max-width, opacity, transform;
  will-change: max-width, max-height;
}

.notch {
  position: relative;
  border-radius: var(--notch-radius);
  pointer-events: all;
  overflow: hidden;
  color: white;
  display: flex;
  cursor: pointer;
  width: 100%;
  transition: inherit;
  transition-property: inherit;
  will-change: inherit;
  filter: drop-shadow(0 1em 2em hsla(0 0% 0%/var(--shadow-opacity, 0)));
  transform: scale3d(0.375, 0.4, 1);
  transform-origin: top;
}
.notch:before {
  content: "";
  position: absolute;
  inset: 0;
  background: black;
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1'><defs><filter id='round'><feGaussianBlur in='SourceGraphic' stdDeviation='5' result='blur' /><feColorMatrix in='blur' mode='matrix' values='1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9' result='goo'/><feComposite in='SourceGraphic' in2='goo' operator='atop'/></filter></defs></svg>#round");
  border-radius: inherit;
}

.content {
  --content-padding: 1.75em;
  --duration-height: 0.5em;
  --content-gap: 1em;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: stretch;
  padding: var(--content-padding);
  gap: var(--content-gap);
  font-size: 125%;
  transition-property: padding;
  will-change: padding;
  position: relative;
}
.content .left,
.content .right {
  height: 100%;
  max-height: calc(100% - var(--bar-height, 0%));
  display: flex;
  align-items: center;
  gap: 1em;
}
.content, .content .left, .content .right, .content .bar, .content .text {
  transition: var(--notch-duration) var(--ease-out);
}
.content .left, .content .right, .content .bar {
  transition-property: max-height, opacity;
  will-change: max-height;
}
.content .left {
  flex-grow: 2;
}
.content .text {
  display: flex;
  flex-direction: column;
  gap: 0.333em;
  transition-property: opacity;
  opacity: var(--bar-opacity, 0);
}
.content .text:before {
  content: "Smartle.AI";
  order: 1;
  text-transform: uppercase;
  font-size: .8rem;
  font-family: inherit;
}
.content .text:after {
  order: 2;
  content: "Feels Human";
  opacity: 0.5;
  font-size: .7rem;
  font-family: inherit;
}
.content .right {
  flex-grow: 1;
}
.content .tile {
  background: #1a1ab3;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 33.3%;
  position: relative;
}
.content .tile:before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: radial-gradient(50% 50% at 55% 40%, #131386, #cd1385 75%, transparent) center/133.3% 133.3%;
  background-color: yellow;
  filter: blur(0.05em);
}
.content .bar {
  display: flex;
  align-items: center;
  gap: 1em;
  flex-basis: 100%;
  height: 100%;
  max-height: var(--bar-height, 0%);
  color: rgba(255, 255, 255, 0.5);
  opacity: var(--bar-opacity, 0);
}
.content .bar .duration {
  position: relative;
  height: var(--duration-height);
  background: rgba(255, 255, 255, 0.25);
  border-radius: calc(var(--duration-height) * 0.5);
  overflow: hidden;
  flex-grow: 1;
}
.content .bar .duration:before {
  content: "";
  height: 100%;
  background: rgb(176, 61, 61);
  width: 25%;
  position: absolute;
}
.content .bar:before {
  content: "1:20";
}
.content .bar:after {
  content: "-1:48";
}

.camera {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--notch-height);
  aspect-ratio: 1/1;
  border-radius: 50%;
  pointer-events: none;
  position: absolute;
  z-index: 4;
  top: calc(var(--pad) * 2);
  right: calc(50% - calc(var(--notch-width) * 0.5));
  margin-right: calc(var(--pad) * 0.333);
}
.camera:before {
  content: "";
  height: 33.3%;
  aspect-ratio: 1;
  border-radius: inherit;
  box-shadow: inset 0 0 0.25em #4c4da3;
  background: radial-gradient(#6667ac, transparent 50%) no-repeat 33.3% 10%/75% 50%, radial-gradient(#454680, transparent 50%) no-repeat 60% 85%/50% 50%;
  background-color: #080928;
}

.screen {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-grow: 1;
  gap: var(--gutter);
  box-sizing: border-box;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: var(--gutter);
  padding-top: calc(var(--gutter) * 3);
  border-radius: calc(var(--border-radius) - var(--pad));
  transition: opacity 1s var(--ease-out) 0.25s;
}

#zoom:checked ~ .scene {
  --size: max(5px, 2vmin);
  opacity: 0;
  -webkit-animation: appear 0.5s var(--ease-out) forwards;
          animation: appear 0.5s var(--ease-out) forwards;
}
#zoom:checked ~ .scene .phone {
  order: 1;
}
#zoom:checked ~ .scene .pallette,
#zoom:checked ~ .scene .zoom-con {
  order: 0;
  font-size: 50%;
}
#zoom:checked ~ .scene label[for=zoom] {
  --zoom-icon: url("data:image/svg+xml,%3Csvg width='32' height='32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m14 18-9 9m9-9v9m0-9H5M18 14l9-9m-9 9V5m0 9h9' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

#zoom:not(:checked) ~ .scene {
  opacity: 0;
  -webkit-animation: appear-again 0.5s var(--ease-out) forwards;
          animation: appear-again 0.5s var(--ease-out) forwards;
}
@-webkit-keyframes appear-again {
  to {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
@keyframes appear-again {
  to {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

